<section class="section why-us" data-section="section8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Board Members</h2>
          </div>
        </div>
        <div class="col-md-12">
          <!-- ---------chairman Members--------- -->
  
          <div id='tabs'>
            <ul>
              <li><a routerLink='/chairman'>Chairman & Vice chair</a></li>
              <li><a routerLink='/headofcommittees'>Head of committees</a></li>
              <!-- <li><a href='#tabs-3'>Headeres of WEEE</a></li> -->
              <li><a  routerLink='/webadmin'>website Admins</a></li>
            </ul>
            <section class='tabs-content'>
             
           <!-- ---------head committees Members--------- -->
  
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/pr.jpeg" class="img-fluid rounded-start" alt="pr">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Zienab Abdelrahman</h4>
                            <p class="card-text">Head of Public Relation</p>
                            <a href="https://www.linkedin.com/in/zienab-abdelrahman-b64355246" class="p-3">
                              <i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:Zienab.abdelrahman.2001@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/robocub.jpeg" class="img-fluid rounded-start" alt="rc">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Hagar Sameh</h4>
                            <p class="card-text">Head of Roboclub</p>
                            <a href="https://www.linkedin.com/in/hager-sameh-908270190" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:hagersameh58@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/codersclub.jpeg" class="img-fluid rounded-start" alt="cc">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Nada Mohammed</h4>
                            <p class="card-text">Head of CodersClub</p>
                            <a href="https://www.linkedin.com/in/nada-shoaib-156a33232" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:nadashoaib212@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/hr.jpeg" class="img-fluid rounded-start" alt="hr">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Ali Ehab </h4>
                            <p class="card-text">Head of Human Resources</p>
                            <a href="http://linkedin.com/in/ali-ehab-dabash-babb291b2" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:Ali_ehab2014@hotmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/ai.jpeg" class="img-fluid rounded-start"  alt="ai">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Abdallah Hesham </h4>
                            <p class="card-text">Head of AI and robotics</p>
                            <a href="https://www.linkedin.com/in/ahesham1675234287" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:Abdallah.ibn.hesham98@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                    <div class="col-sm-6">
                      <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="assets/images/ic.jpeg" class="img-fluid rounded-start" alt="media">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h4 class="card-title">Hamdy Sherif</h4>
                              <p class="card-text">head of Integrated Circuits</p>
                              <a href="https://www.linkedin.com/in/hamdy-elshehaby-a1b415153/" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                              <a href="mailto:hamdyshehaby@ieee.org" ><i class="uil uil-envelope fa-lg"></i> </a> 
                           </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/unknown2.jpeg" class=" rounded-start" alt="media" height="168" width="100">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Daniel</h4>
                            <p class="card-text">Head of Media</p>
                            <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/weipictures/org.jpeg" class="img-fluid rounded-start" style=" display: inline-block;" alt="org">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Noureldein Ahmed  </h4>
                            <p class="card-text">Head of Organization</p>
                            <a href="https://www.linkedin.com/in/noureldein" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:n.elweteedy@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
  
            
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
