<!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2022 by FUE University  
          
           | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>
  -->
  
 
  <footer class="why-us text-center text-white">
    <div class="row w-100">
      <div class="col pr-md-5 pt-5">
        <a href="/joinus"><i class="fa-solid fa-users fa-2x"></i></a>
       <h3>Join us</h3>
      </div>
      <div class="col pr-md-5 pt-5">
        <a href="/boardus"><i class="fa-solid fa-clipboard fa-2x"></i></a>
        
       <h3>IEEE FUE Admins</h3>
      </div>
  
      <div class="col pr-md-5 pt-5">

        <a href="https://www.google.com/maps?ll=30.027154,31.491726&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=4166532657051134496"><i class="fa-solid fa-location-dot fa-2x"></i></a>
       <h3>Location</h3>
      </div>
     <div class="col-md p-4 pb-0">
      
       <h3>Stay in touch:</h3>
       <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/IEEE.FUE/"
        role="button"  ><i class="fab fa-facebook-f  "></i></a>

      <a class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/company/ieeefue/"
        role="button" ><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/IEEE-FUE/"
        role="button"><i class="fab fa-github"></i></a>
      </section>
     </div>

     
</div> 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Copyright: IEEEFUE – All rights reserved. 
  </div>
</footer>


 