<section class="section why-us" data-section="section8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Board Members</h2>
          </div>
        </div>
        <div class="col-md-12">
          <!-- ---------chairman Members--------- -->
  
          <div id='tabs'>
            <ul>
              <li><a routerLink='/chairman'>Chairman & Vice chair</a></li>
              <li><a routerLink='/headofcommittees'>Head of committees</a></li>
              <!-- <li><a href='#tabs-3'>Headeres of WEEE</a></li> -->
              <li><a  routerLink='/webadmin'>website Admins</a></li>
            </ul>
            <section class='tabs-content'>
             
                
             
  
              <article id='tabs-4'>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/me.jpeg" class="img-fluid rounded-start" alt="nada">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Nada Radwan</h4>
                            <p class="card-text">IEEE Member</p>
                            <a href="https://www.linkedin.com/in/nada-radwan-497920219" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:nadaradwantahaali2001@outlook.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/pr.jpeg" class="img-fluid rounded-start" alt="pr">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Zienab Abdelrahman</h4>
                            <p class="card-text">Head of Public Relation</p>
                            <a href="https://www.linkedin.com/in/zienab-abdelrahman-b64355246" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:Zienab.abdelrahman.2001@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/somaia.jpeg" class="img-fluid rounded-start" alt="somaia">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Somia Saber</h4>
                            <p class="card-text">FUE Student</p>
                            <a href="https://www.linkedin.com/in/somia-saber-6b942524a" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:arwaaaaaaa20000@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/hudaa.jpeg" class="img-fluid rounded-start" alt="huda">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">Hoda Ashraf</h4>
                            <p class="card-text">FUE Student</p>
                            <a href="https://www.linkedin.com/in/hoda-ashraf-73296a216" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:hodashrafff@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
