<section class="section why-us" data-section="section8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Board Members</h2>
        </div>
      </div>
      <div class="col-md-12">
        <!-- ---------chairman Members--------- -->

        <div id='tabs'>
          <ul>
            <li><a routerLink='/chairman'>Chairman & Vice chair</a></li>
            <li><a routerLink='/headofcommittees'>Head of committees</a></li>
            <!-- <li><a href='#tabs-3'>Headeres of WEEE</a></li> -->
            <li><a  routerLink='/webadmin'>website Admins</a></li>
          </ul>
          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/chairman.jpeg" class="img-fluid rounded-start" alt="chairman">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title">Mohammed Abdelgayed</h4>
                          <p class="card-text">Chairman of IEEE FUE</p>
                          <a href="https://www.linkedin.com/in/m-abdelgayed" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:mohamedgayed9@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/unknown2.jpeg" class="img-fluid rounded-start" alt="Vice-Chairman">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text">Vice-Chairman</p>
                          <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>

</section>
<router-outlet></router-outlet>