<!-- --------- wie us -------- -->
<section class="section why-us" data-section="whoarewe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Who are we ?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div >
            
            <section class='tabs-content'>
                <div class="row">
                  
                  <div class="col-md-6 sectionWieimg"> 
                    
                        
                  
                       </div>
                      

                    
                 
                  <div class="col-md-6 " style="background-color :rgba(72, 1, 107,.4);">
                    <!-- <h1 class="aboutustext">What we are ?</h1> -->
                    <h3 class="aboutusparagraph" style="font-size: larger;"><i class="fas fa-check-square"></i> &nbsp; IEEE Women in Engineering (WIE) is a global network of 
                        IEEE members and volunteers dedicated to promoting women engineers and scientists,
                         and inspiring girls around the world to follow their academic interests in a career
                          in engineering and science.
                        <br> <br>
                        <i class="fas fa-check-square"></i> &nbsp; IEEE-WIE Future University in Egypt Student Branch Affinity 
                        Group was established on January 2022, We aim to help our community,
                         convey the message that math and science are fun, promote women engineers
                          and scientists, empower and inspire girls to pursue their career in the field
                           of engineering and technology.</h3>
                  </div>
                </div>
              
             
            </section>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
  <!-- <router-outlet></router-outlet> -->