<!-- 

<section  class="section why-us" data-section="events">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Events</h2>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="assets/images/event1.jpg" class="d-block  " alt="e1">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="ieeetiledBackground" ></h5> <br>
          <p class="ieeeparagraphBackground"> </p>
        </div>
      </div>
      <div class="carousel-item " >
        <img src="assets/images/event2.jpg" class="d-block " alt="e2" >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="ieeetiledBackground" ></h5><br>
          <p class="ieeeparagraphBackground"> </p>
        </div>
        
      </div>
      <div class="carousel-item">
        <img src="assets/images/event3.jpg" class="d-block" alt="e3">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="ieeetiledBackground"></h5><br>
          <p class="ieeeparagraphBackground"></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </section>

   -->
   

<section  class="section why-us" data-section="wieactivites">
  <div class="col-md-12">
    <div class="section-heading">
      <h2>Events</h2>
    </div>
  </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

      </div>
      <div class="carousel-inner">
        <!-- Nvida1.png -->
        
          
        <div class="carousel-item active">
          <img src="assets/images/Nvida1.png" class="d-block  " alt="nvida">
          <div class="carousel-caption ">
            <p class="ieeetiledBackground" > Nvidia workshop </p> <br>
            <p class="ieeeparagraphBackground">  We accomplishment "Fundamentals of deep learning"
            where we learned about the history of AI, neural networks (RNN and CNN), activation 
             functions, data augmentation and transfer learning</p>
          </div>
          <p class="tiledHide" > Nvidia workshop </p> <br>
          <p class="paragraphHide">  We accomplishment "Fundamentals of deep learning"
          where we learned about the history of AI, neural networks (RNN and CNN), activation 
           functions, data augmentation and transfer learning</p>
        </div>

        <div class="carousel-item ">
          <img src="assets/images/event1.jpg" class="d-block  " alt="e1">
          <div class="carousel-caption ">
            <!-- <h5 class="ieeetiledBackground" ></h5> <br> -->
            <!-- <p class="ieeeparagraphBackground"> </p> -->
          </div>
        </div>
        <div class="carousel-item " >
          <img src="assets/images/event2.jpg" class="d-block " alt="e2" >
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5 class="ieeetiledBackground" ></h5><br> -->
            <!-- <p class="ieeeparagraphBackground"> </p> -->
          </div>
          
        </div>
        <div class="carousel-item">
          <img src="assets/images/event3.jpg" class="d-block" alt="e3">
          <div class="carousel-caption ">
            <!-- <h5 class="ieeetiledBackground"></h5><br> -->
            <!-- <p class="ieeeparagraphBackground"></p> -->
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </section>
