<!-- --------- Abouts us -------- -->
<section class="section why-us" data-section="aboutsus">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About Us</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div >
            
            <section class='tabs-content'>
                <div class="row">
                  
                  <div class="col-md-6 sectionimg"> 
                    
                        
                    <!-- <img src="assets/weipictures/newlogo.png"  alt="" > -->
                  
                       </div>
                      

                    
                 
                  <div class="col-md-6 aboutbackgorund">
                    <h1 class="aboutustext">Who are we ?</h1>
                    <h3 class="aboutusparagraph">
                      <i class="fas fa-check-square"></i> &nbsp;  &nbsp; IEEE FUE branch is located in Cairo, Egypt.<BR>
                        <i class="fas fa-check-square"></i> &nbsp;  &nbsp;It was first formed in 2019 by its first president Engineer Alaa Eldin Safwat <br>
                        <i class="fas fa-check-square"></i>&nbsp;  &nbsp;  Largest branch in Egypt and it’s represented by more than 100 members.<br>
                        <i class="fas fa-check-square"></i> &nbsp;  &nbsp;It consists of two main committees; technical and non-technical.</h3>
                  </div>
                </div>
              
             
            </section>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
  <router-outlet></router-outlet>