<!-- --------- committees -------- -->
<section class="section courses" data-section="Committees">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Find Your Non-Technical Committee</h2>
          </div>
        </div>
        
        <div class="card" style="width: 18rem;">
          <img src="assets/images/HR.png" alt="Course #1"height="200">
          <div class="card-body">
            <h4 class="card-title">HR Committee</h4>
            <p class="card-text">Human resources Committee, responsible for all the "human resources" inside the branch, holding interviews, collecting members' data, organizing meetings, etc 
            </p>
            <img src="assets/images/hr-modified.png" alt="Course #1">
          </div>
        </div>
        &nbsp; &nbsp; 
        <div class="card"style="width:18rem;">
          <img src="assets/images/Public Relation Icon.jpg" alt="Course #2"height="200">
          <div class="card-body">
            <h4 class="card-title">PR Committee</h4>
            <p class="card-text">Public relations Committee, responsible for all communication with entities
              outside the branch, they organize partnerships, find sponsors, write proposals, etc</p>
              <img src="assets/images/pr (1).png" alt="Course #1">

          </div>
         
        </div>
        &nbsp; &nbsp; 
        <!-- <div class="owl-carousel owl-theme"> -->
       <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner"> -->
              <div class="card" style="width: 18rem;">
            <img src="assets/images/courses-03.jpg" alt="Course #1"height="200">
            <div class="card-body">
              <h4 class="card-title">Media Committee</h4>
              <p class="card-text">Responsible for providing the social media pages with content including posts, designs and videos, they cover events and creativly market for the branch 
              </p>
             
              <br>
              <!-- <img src="assets/images/hr-modified.png" alt="Course #1"> -->

            
            
            </div>
          </div>
          &nbsp; &nbsp; 
          <div class="card"style="width:18rem;">
            <img src="assets/images/courses-02.jpg" alt="Course #2"height="200">
            <div class="card-body">
              <h4 class="card-title">Organization Committee</h4>
              <p class="card-text">Responsible for planning and organizing events including all details and providing personnel to ensure the event goes as good as possible.</p>
              <img src="assets/weipictures/orgCircle.png" alt="Course #1">

            </div>
           
          </div>
          &nbsp; &nbsp; 
      </div>
    </div>
          <!--techincal-->
         

  </section>
  <section class="section courses" data-section="Committees">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Find Your Technical Committee</h2>
          </div>
        </div>
        
        <div class="card" style="width: 18rem; ">
          <img src="assets/images/coder.jpeg" alt="Course #1" height="200">
          <div class="card-body">
            <h4 class="card-title">Coders Club</h4>
            <p class="card-text">Aims to help members to learn different programming languages, algorithms, problem solving and implementing small projects.<br>
            </p>
            <br>
            <img src="assets/images/Nada.png" alt="Course #1">
   
          </div>
        </div>
        &nbsp; &nbsp; 
        <div class="card"style="width:18rem;">
          <img src="assets/images/Roboo.jpeg" alt="Course #2" height="200">
          <div class="card-body">
            <h4 class="card-title">Robo Club</h4>
            <p class="card-text">We have many achievements, our students succeeded in doing many implementations such as sumorobot, maze solver, ROV, image recognition and IEEE website development.</p>
            <img src="assets/images/Robo.png" alt="Course #1">

          </div>
         
        </div>
        &nbsp; &nbsp; 
        <!-- <div class="owl-carousel owl-theme"> -->
       <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner"> -->
              <div class="card" style="width: 18rem;">
            <img src="assets/images/AII.jpeg" alt="Course #1"height="200">
            <div class="card-body">
              <h4 class="card-title">AI Club</h4>
              <p class="card-text">This Committee aims to provide members with knowledge AI and machine learning, using the famous frameworks such as TensorFlow and PyTorch, and provide them with hands on experience implementing projects.
              </p>
              <img src="assets/images/Abdallah.png" alt="Course #1">

              <br>
              
            
            </div>
          </div>
          &nbsp; &nbsp; 
          <div class="card"style="width:18rem;">
            <img src="assets/images/iclogo.jpeg" alt="Course #2"height="200">
            <div class="card-body">
              <h4 class="card-title">IC Club</h4>
              <p class="card-text">The goal is to help students to develop their skills in the field of integrated circuit design.</p>
              <img src="assets/images/hamdy.png" alt="Course #1">

            </div>
           
          </div>
          &nbsp; &nbsp; 
      </div>
    </div>
        
         

  </section>
  