
<section class="section coming-soon" data-section="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
       
      </div>
      <div class="col-md-5">
        <div class="right-content">
          <div class="top-content" >
            <h6 >Sign Up</h6>
          </div>
          <form  [formGroup]="signup" (ngSubmit)="saveData()"id="contact" class="form form--hidden" action="" method="get">
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="Fname" type="text" class="form-control" id="name" placeholder="First Name" formControlName="firstname" required="">
                  <span class="text-danger " *ngIf="signup.controls['firstname'].dirty && signup.hasError('required','firstname')">First name is required</span>

                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="Lname" type="text" class="form-control" id="name" placeholder="Last Name" formControlName="secondname" required="">
                  <span class="text-danger " *ngIf="signup.controls['secondname'].dirty && signup.hasError('required','secondname')">Last name is required</span>

                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="IEEE-ID" type="number" class="form-control" id="name" placeholder="IEEE ID"formControlName="ieee_id" required="">
                </fieldset>
              </div>
              <!-- <div class="col-md-12">
                <fieldset>
                  <input name="Position" type="text" class="form-control" id="name" placeholder="Position"formControlName="position" required="">
                </fieldset>
              </div> -->
              <div class="col-md-12">
                <fieldset>
                  <input name="phone-number" type="number" class="form-control" id="phone-number" placeholder="Your Phone Number"formControlName="phone_no" required="">
                  <span class="text-danger " *ngIf="signup.controls['phone_no'].dirty && signup.hasError('required','phone_no')">Phone number is required</span>

                </fieldset>
              </div>
              
              <div class="col-md-12">
                <fieldset>
                  <input name="University ID" type="number" class="form-control" id="name" placeholder="University ID"formControlName="uni_id" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="Faculty" type="text" class="form-control" id="name" placeholder="Faculty" formControlName="faculty"required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="Major" type="text" class="form-control" id="name" placeholder="Major" formControlName="major"required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="Level" type="text" class="form-control" id="name" placeholder="Level"formControlName="level" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Your Email"formControlName="email" required="">
                  <span class="text-danger " *ngIf="signup.controls['email'].dirty && signup.hasError('required','email')">Email is required</span>

                </fieldset>
              </div>
              
              <div class="col-md-12">
                <fieldset>
                  <input name="Gender" type="text" class="form-control" id="name" placeholder="Gender"formControlName="gender" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="data" type="date" class="form-control" id="name" placeholder="Birthday date"formControlName="birthday_date" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="City" type="text" class="form-control" id="name" placeholder="City"formControlName="city" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="username" type="form-control" class="form-control" id="name" placeholder="Username"formControlName="username" required="">
                  <span class="text-danger " *ngIf="signup.controls['username'].dirty && signup.hasError('required','username')">Username  is required</span>

                </fieldset>
              </div> 
              <div class="col-md-12">
                  <fieldset>
                    <input name="Password" type="password" class="form-control" id="name" placeholder="Enter Password"formControlName="password" required="">
                    <span class="text-danger " *ngIf="signup.controls['password'].dirty && signup.hasError('required','password')">Password is required</span>

                  </fieldset>
                </div>
                
              <!-- <form action="/action_page.php"> -->
                <!-- <label for="img"> Select Photo of you:</label>
                <input type="file" id="img" name="img" accept="image/*" formControlName="signupImage">  -->
                <!-- <button class="form-control btn btn-primary rounded submit px-3" type="submit" [disabled]="!signup.valid">Sign up</button> -->
                <!-- </form> -->
                <button class="form-control btn btn-primary rounded submit px-3" type="submit" >Sign up</button>

              
              <div class="col-md-12">
                <!-- <fieldset> -->
                  <!-- <button type="submit" id="form-submit" class="button">Get it now</button> -->
                <!-- </fieldset> -->
               <p text-white style="color: aliceblue !important;"> Already have an account? <a class="form__link " style="color:rgb(0, 102, 153) !important ; font-weight: bolder !important;     font-family: 'Montserrat', sans-serif !important;   " routerLink="/login" id="linksCreateAccounts"> Login</a></p>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>