
<section class="section why-us" data-section="section8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>WIE Members</h2>
          </div>
        </div>
        <div class="col-md-12">
          <!-- ---------chairman Members--------- -->
  
          <div id='tabs'>
            <!-- <ul>
              <li><a routerLink='#tabs-1'>Chairman & Vice chair</a></li>
              <li><a routerLink='#tabs-2'>Head of committees</a></li>
              <li><a  routerLink='#tabs-4'>website Admins</a></li>
            </ul> -->
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;  background-color: rgba(72, 1, 107,.8) !important;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/weipictures/wiepresident.jpg" class="img-fluid rounded-start" alt="chairman">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title text-white" style=" margin-bottom: 30px !important;">Roshan Mohyeldeen Ahmed</h5>
                            <p class="card-text text-white"  >Chairman of WIE IEEE</p>
                            <a href="https://www.linkedin.com/in/roshan-mohyeldeen" class="p-3"><i class="uil uil-linkedin-alt fa-lg text-muted"></i></a>
                            <a href="mailto:Roshan.mohyeldeen@gmail.com" ><i class="uil uil-envelope fa-lg text-muted"></i> </a>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;  background-color: rgba(72, 1, 107,.8) !important;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/weipictures/viceIeee.jpeg" class="img-fluid rounded-start" alt="Vice-Chairman">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title text-white" style=" margin-bottom: 30px !important;" >Maryam Hassan</h5>
                            <p class="card-text text-white"  >Vice-Chairman of WIE IEEE</p>
                            <a href="https://www.linkedin.com/in/maryam-hassan-b8897b202" class="p-3"><i class="uil uil-linkedin-alt fa-lg text-secondary"></i></a>
                            <a href="mailto:mh2207128@gmail.com" ><i class="uil uil-envelope fa-lg text-muted"></i> </a>                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
  
           
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>